/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/



body{
    width: 100%;
    /*height: 100%;*/ 


}


.contenedor {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .contenedor {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .contenedor {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .contenedor {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .contenedor {
        max-width: 100%;
    }
}
